.background {
    background:url('./img/florida.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.spacer{
    height: 200px;
}

body {
    font-family: monospace;
    color: #ffffff;
    margin: 0;
    background-color: #2f2f2f;
}

.container {
    width:  75%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #9b958b;
    color: #000000;
    border-top: #000000 5px solid;
    border-bottom: #000000 5px solid;
    margin: auto;
    position: fixed;
    /* top: 0px; */
    width: 100vw;
    z-index: 1000;
    
}

header a {
    color: #385162;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header a:hover {
    color:#131f27;
    font-weight: bold;
    cursor: pointer;
}

header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header li {
    display:inline;
    padding-right: 15px;
    padding-left: 15px;
}

header nav {
    padding-top:10px;
    float: right;
    margin-top: 25px;
}

header .my-picture {
    float: left;
    padding-left:10px;
    padding-top:5px;
}

header .my-picture img {
    width: 75px;
    border-radius: 40%;
    border: 3px solid;
    border-color: black;
}

header .name-plate {
    float: left;
    width: 50%;
    padding-top: 10px;
}

.body-section-1 {
    background-color: #121212;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: black;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 30px;
    padding-bottom: 50px;

}

.body-section-2 {
    border: 15px solid;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 75%;
    border-color: black;
    padding: 0px;
    text-align: center;
    background-color: #47423b;
}

.seperator {
    border: 15px solid;
    margin-top: 50px;
    width: 100%;
    border-color: black;
    padding: 0px;
}

.infoblurb {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 19px;
}

.tagline {
    margin: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    /* font-size: 24px; */
    
}

/* v Code for image swiper v */
.swiper-container {
    overflow: hidden;
    position: relative;
    margin: auto;
    border: 1px;
    border-radius: 10%;

}

.swiper {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
    
}

.move {
    display: inline;
    background-color: rgba(0, 0, 0, .8);
    margin: auto;
    color: white;
    border-color: white;
    width: 10%;
}

.swiper img {
    object-fit: contain;
}
/* ^ Code for image swiper ^ */

.tagline img {
    border-radius: 10%;
    border: 5px solid;
    border-color: black;
}

form {
    display: inline-flexbox;
}

.contact-me-1 {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.contact-me-2 {
    padding: 4px;
    height: 25vh;
    width: 40vw;
}

.body-section-2 .button_1 {
    height: 38px;
    background: #111111;
    border: 3px solid;
    color: white;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;

}

.project-container {
    padding: 20px;
}

.project-box {
    /* float: left; */
    width: 30%;
    padding: 10px;
    display: inline-table;
}

.project-box img{
    height: 80px;
}

.project-button{
    background: transparent;
}


/* youtube player stuff */
.videoframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.videolist {
    max-height: 50px;
    max-width: 200px;
    display: inline-table;;
}

/* .yt-thumbs img {
    width: 10vw;
}
.yt-thumbs {
    width: 20vw;
} */

.videoport {
    display: inline;
    margin: 10px;
}

iframe .asteroids {
    margin: auto;
}

.goodbye {
    font-size: 30px;
}

/* rules for small devices */
@media(max-width: 800px){
    header .name-plate, header nav, header li {
        float: none;
        text-align: center;
        width: 100%;
        padding-top: 0px;
    }
    .my-picture{
        padding-top: 10px;
    }
    header .container {
        padding: 0px;
        margin: 0px;
    }
    
    header nav {
        padding-bottom: 5px;
        margin-top: 10px;
    }
    .boxes .box-container {
        width: 100%;
        margin: auto;
        
    }

    .boxes .box {
        float: left;
        margin: auto;
        padding: 10px;
        text-align: center;
    }
    .boxes .box img {
        width: 50px;
    }
}

/* smaller still */
@media(max-width: 500px){
    .my-picture {
        display: none;
    }

    .body-section-1{
      width: 100%;
    }
    
    header .container {
        margin: auto;
    }

    header .name-plate h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    header ul {
        font-size:12px;
    }
    
}