body {
    font-family: monospace;
    /* font-size: 16px; */
    color: #ffffff;
    padding: 0;
    /* margin: 0; */
    /* line-height: 15px; */
    background-color: #2f2f2f
}

/* line-height: the amount of space between each line */

/* when referencing a class, you will say .<classname> */
/* when referencing an id, you will say #<id> */

.container {
    width:  75%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #9b958b;
    /* color: #ffffff; */
    padding: 0px;
    padding-top: 0px;
    min-height: 80px;
    color: #000000;
    border: #000000 5px solid;
    /* border-top, border-bottom, border-left, border-right... */
    /* border-right: #000000 50px solid; */
    max-width: 1920px;
    margin: auto;
}

header a {
    color: #385162;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header a:hover {
    color:#131f27;
    font-weight: bold;
}

header nav {
    /* margin: 10px; */
    /* padding-top: 10px; */

}

/* by default ul's have margins and padding */
header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header li {

    display:inline;
    padding-right: 10px;
    padding-left: 10px;
}

header nav {
    padding-top:10px;
    float: right;
    margin-top: 20px;
}

.my-picture {

    float: left;
    padding-left:10px;
    /* border-radius: 50%; */
}

.my-picture img {
    width: 75px;
    border-radius: 40%;
    border: 3px solid;
    border-color: black;
    
    
}

.name-plate {
    float: left;
    width: 50%;
    padding-top: 10px;
    /* font-size: 18px; */
    /* margin: 0px;
    padding: 0px; */
}

.showcase {
    min-height: 270px;
    max-width: 1920px;
    background:url('./img/florida.jpg') -400px -850px;
    background-size: 2400px;
    margin: auto;
    background-color: #000000;
    border: 5px solid;
    border-top: 0px;
    border-color: #000000;
}

.aboutme {
    background-color: #121212;
    border-top: 10px solid;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: black;
    padding: 10px;

}

.infoblurb {
    max-width: 1000px;
}

.tagline {
    margin: auto;
    text-align: center;
    /* font-size: 24px; */
    
}

/* v Code for image swiper v */
.swiper-container {
    overflow: hidden;
    position: relative;
    margin: auto;
    border: 1px;
    border-radius: 10%;

}

.swiper {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
    
}
/* .swipe-buttons {
    margin: auto;
} */
.move {
    display: inline;
    background-color: rgba(0, 0, 0, .8);
    margin: auto;
    color: white;
    border-color: white;
    width: 10%;
}




.swiper img {
    object-fit: contain;
}
/* ^ Code for image swiper ^ */

.tagline img {
    border-radius: 10%;
    border: 5px solid;
    border-color: black;
}

.infoblurb {

    margin: auto;
    text-align: center;
}

.contactme {
    border: 5px solid;
    border-color: black;
    padding: 10px;
    text-align: center;
}


.contactme input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

.contactme .button_1 {
    height: 38px;
    background: #111111;
    border: 3px solid;
    color: white;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;

}

.boxes .box-container {
    width:  80%;
    margin: auto;
    overflow: hidden;
}

.boxes {
    margin-top: 30px;
}

.boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.boxes .box img{
    width: 80px;
}



.videoframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    
    
}

.videolist {
    max-height: 50px;
    max-width: 400px;
    display: inline-block;
    /* margin: auto; */
}
.videoport {
    display: inline;
    margin: 10px;
    /* border: 5px solid;
    border-color: black;
    padding: 25px;
    background-color: #222222; */

}



/* rules for small devices */
@media(max-width: 800px){
    header .name-plate, header nav, header li {
        float: none;
        text-align: center;
        color: red;
        width: 100%;
        padding-top: 0px;
    }
    header nav {
        padding-bottom: 5px;
    }
    .boxes .box-container {
        width: 100%;
        margin: auto;
        
    }

    .boxes .box {
        float: left;
        margin: auto;
        padding: 10px;
        text-align: center;
    }
    .boxes .box img {
        width: 50px;
    }
}

/* smaller still */
@media(max-width: 500px){
    .my-picture {
        display: none;
    }
    
}